$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$main-bg-blue: #080C20;
$main-white: #FFFFFF;
$main-green: #3EE9E5;
$secondary-bg-blue: #093F68;
$secondary-bg-grey:#777F98;
$error-red:#FF2965;



//padding
$mobile-padding: 1rem;
$tablet-padding: 2.25rem;

$mobile-header-padding-top: 1.5rem;
$tablet-header-padding-top: 3rem;

$tablet-ticket-padding: 1.125rem;


//margin
$mobile-margin: 1rem;
$tablet-margin: 2.25rem;

$mobile-header-margin-top: 1.5rem;
$tablet-header-margin-top: 3rem;