@use "./partials/mixins" as *;
@use "./partials/variables" as *;


body {
    background-color: $main-bg-blue;
    color: $main-white;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
}


nav {
    display: flex;
    justify-content: center;
    @include tablet {
        justify-content: flex-start; 
        align-items: center;
        height: 160px;  
    }
    @include desktop {
        margin-right: 165px;
        height: 225px;
    }
}

.logo {
    padding: 2rem 0rem;
    height: 35px;
    @include tablet {
        margin-left: 39px;
        padding: 0;
    }
}

h1 {
    text-align: center;
    font-size: 32px;
    @include tablet {
        font-size: 48px;
        margin: 0;
    }
}

h2 {
    text-align: center;
    font-size: 24px;
}

.green {
    color: $main-green;
}

.subheading-text {
    color: $secondary-bg-grey;
    text-align: center;
    font-size: 15px;
}

.hero {
    &__mobile-img {
        height: 360px;
        width: 100%;
        object-fit: cover;
        object-position: left;
        margin: 2rem 0rem;
        @include tablet {
            display: none;
        }
    }
    &__container {
        display: grid;
        align-items: center;
        justify-items: center;
        position: relative;
        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }

        &--middle {
            display: flex;
        flex-direction: column;
        align-items: center;
        }
    }

    &__text {
        color: $secondary-bg-grey;
        width: 325px;
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        @include component-margin-top-bottom;
    }

    &__img {
        display: none;
        @include tablet {
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-height: 450px;
        }
    }

    &__bg-squiggle {
        display: none;
        @include tablet {
            display: block;
            position: absolute;
            z-index: -1;
            object-fit: cover;
        }
    }
}


.spacer {
    height: 80px;
}



.illustration-container {
    background-color: $secondary-bg-blue;
    width: 120px;
    height: 124px;
    border-radius: 45px;
    position: relative;
    @include tablet {
        width: 160px;
        height: 164px;
    }

    @include tablet {
        margin-right: 55px;
    }
}
.illustration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.services {
    margin: 0 auto;
    @include margin;

    &__text-container {
        text-align: center;
    }

    &__box {
        display: flex;
        flex-direction: column;
        @include tablet {
            max-width: 700px;
            margin: 0 auto;
        } 

        @include desktop {
            flex-direction: row;
            min-height: 380px;
            margin: 4rem 1rem;
            max-width: 100%;
        }
    }


    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0;
        @include tablet {
            flex-direction: row;
            align-items: flex-start;
            margin: 40px 30px;

            &:nth-child(1) {
                justify-content: flex-start;
            }
            &:nth-child(2) {
                justify-content: flex-end;
            }
            &:nth-child(3) {
                justify-content: flex-start;
            }
            &:nth-child(4) {
                justify-content: flex-end;
            }
        }

        @include desktop {
            flex-direction: column;
            margin: 0 30px;
        }
    }

    &__heading {
        @include tablet {
            text-align: left;
        }
    }

    &__text {
        color: $secondary-bg-grey;
        font-size: 15px;
        line-height: 28px;
        @include tablet {
            text-align: left;
            max-width: 340px;
        }
      
    }

}

//price plans
.pp {
    display: flex;
    flex-direction: column;
    @include margin;
    @include tablet {
        flex-direction: row;
        align-items: center;
    }

    &__container {
        position: relative;
        @include component-margin-top-bottom;
        border-radius: 8px;

        &:nth-child(1) {
            background-color: $secondary-bg-blue;
            @include tablet {
                margin-right: 1.5rem;
                max-height: 501px;
            }
            @include desktop {
                margin: 2rem 1.5rem;
            }
        }

        &:nth-child(2) {
            background-color: $main-green;
            color: #093F68;
            @include tablet {
                margin-left: 1.5rem;
                height: 528px;
                padding-top: 24px;
            }
            @include desktop {
                margin: 2rem 1.5rem;
            }
        }

        &--wrapper {
            margin-left: 1rem;
            margin-right: 1rem;
            display: flex;
        flex-direction: column;
        justify-content: center;
        }
    }

    &__icon {
        position: absolute;
        top: -23px;
        left: 32px;
    }

    &__heading {
        margin-top: 4rem;
        font-size: 18px;
        
        &--2 {
            font-size: 40px;
        }
    }

    &__text {
        color: $secondary-bg-grey;
        font-size: 15px;
        line-height: 25px;
    }

    &__list {
        padding-left: 28px;
        padding-bottom: 1rem;
    }

}

li {
    margin-bottom: 12px;
    position: relative;

}

.list-icon {
    position: absolute;
    left: -28px;
    top: 6px;
    height: 11px;

}

ul {
    font-size: 15px;
    list-style: none;
}

.month {
    color: #1d646f;
    font-size: 15px;
    font-weight: 400;
    vertical-align: 8px;
}

.light-navy {
    color: #1d646f;
}

.not {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include margin;
    height: 400px;

    &__bg {
        width: 100vw;
        height: 228px;
        position: absolute;
        z-index: -1;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        @include tablet {
            flex-direction: row;
            width: 560px;
        }
    }

    &__email {
        position: relative;
        outline: none;
        background-color: $secondary-bg-blue;
        border: 1px solid $main-bg-blue;
        padding: 12px 18px;
        border-radius: 24px;
        font-size: 15px;
        font-weight: 600;
        color: $secondary-bg-grey;
        margin-bottom: 24px;
        width: 100%;
        box-sizing: border-box;
        @include tablet {
            width: 320px;
            margin-bottom: 0;
        }

        &:focus-visible {
            border: 1px solid $main-green;
            color: $main-white;
        }
    }

    &__button {
        background-color: $main-green;
        border: 1px solid $main-bg-blue;
        padding: 12px 18px;
        border-radius: 24px;
        font-size: 15px;
        color: $main-bg-blue;
        width: 100%;
        margin: 0 8px;

        &:hover {
            border: 1px solid $main-green;
            color: $main-white;
            background-color: $main-bg-blue;
            cursor: pointer;
        }

        @include tablet {
            width: 140px;
        }
    }
}

.error-text {
    font-size: 12px;
    color: $error-red;
    position: absolute;
    left: 20px; 
    @include tablet {
        left: 62px;
        top: 50px;
    }
}

.invalid {
    border: 1px solid $error-red;
}

.hidden {
    display: none;
}


// scroll button 
@keyframes an-ms {
    0% {
            opacity: 1;
        top:10%;
    }
    15% {
        opacity: 1;
        top:30%;
    }
    50% {
        opacity: 0;
        top:30%;
    }
    100% {
        opacity: 0;
        top:10%;
    }
}

.scroll-bttn {
    width: 22px;
    height: 38px;
    border:2px solid $main-green;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 28px;
    cursor:pointer;
    position:relative

}
.scroll-dot {
    display: block;
    position: absolute;
    width:3px;
    height: 3px;
    border-radius:50%;
    border:2px solid $main-green;
    left: 7.5px;
    animation:an-ms 3s linear infinite
}
            


